<%= layout('/layout/boilerplate') %>

  <div class="row">
    <h1 class="text-center">Edit Item</h1>
    <div class="col-6 offset-3 mb-4">
      <form action="/items/<%= item._id %>?_method=PUT" method="post" class="form mb-4 needs-validation"
        novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" id="title" class="form-control" value="<%= item.title %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid data.
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Locations</label>
          <input type="text" name="location" id="title" class="form-control" value="<%= item.location %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid data.
          </div>
        </div>
        <div class="mb-3">
          <!-- <label for="image" class="form-label">image</label>
          <input type="text" name="image" id="image" class="form-control" value="<%= item.image %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid data.
          </div> -->
          <input type="file" name="image" id="image" multiple>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">price</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" class="form-control" id="price" name="price" placeholder="0.00" aria-label="Username"
              aria-describedby="basic-addon1" value="<%= item.price %>" required>
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid data.
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" name="description" id="description" class="form-control"
            required><%= item.description %> </textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid data.
          </div>
        </div>
        <div >
          <% item.image.forEach((value,id)=>{%>
            <div class="block">
            <img src="<%=value.thumbnail%>" alt="<% value %>" class="img-thumbnail block">
            <% console.log(value.url) %>
            <div class="form-check-inline">
            <input type="checkbox" name="deleteimage[]" id="imag-<%= id %>" value="<%= value.filename %>">
          </div>
            <label for="imag-<%= id %>" >Delete?  </label>
          </div>
          <%}) %>
        </div>
        <button class="btn btn-info">Update Item</button>
      </form>
      <a href="/items/<%= item._id %>">BACK</a>
    </div>
  </div>